@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

  body{
    font-family:Barlow Semi Condensed, sans-serif,arial;
    color:hsl(0, 0%, 100%);
  }
  section {
    margin:90px 0px 40px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:11px 11px;   
    grid-template-areas: 
      ". grid_bar_f grid_bar_f grid_bar_f grid_bar_s grid_bar_s grid_bar_fi"
      ". grid_bar_t grid_bar_t grid_bar_fo grid_bar_fo grid_bar_fo grid_bar_fi"
      ". . . . . . ."
    ;
  }
  img {
    border-radius: 30px;    
    position: absolute; 
    margin:5px 5px;  
    width: 40px;
    height: 40px;
   }
  article {    

    margin: 10px 10px;
    border-radius: 10px;
    }
  .grid_bar_f{
    grid-area: grid_bar_f;
    height: 350px;
    background-color: hsl(263, 55%, 52%);
    color:#fff;
   }
   .grid_bar_s{
    grid-area: grid_bar_s;
    background-color: hsl(217, 19%, 35%);
  
    }

   .grid_bar_t {
    grid-area: grid_bar_t;
    -webkit-box-shadow: 6px 1px 24px 0px rgba(204, 205, 241, 1);
    -moz-box-shadow: 6px 1px 24px 0px rgba(204, 205, 241, 1);
    box-shadow: 6px 1px 24px 0px rgba(204, 205, 241, 1);
   }
   .grid_bar_fo{  
    grid-area: grid_bar_fo;
    background-color: hsl(219, 29%, 14%);
    }
   .grid_bar_fi{
    grid-area: grid_bar_fi;
    width: 300px; 
    -webkit-box-shadow: 6px 1px 24px 0px rgba(204, 205, 241, 1);
    -moz-box-shadow: 6px 1px 24px 0px rgba(204, 205, 241, 1);
    box-shadow: 6px 1px 24px 0px rgba(204, 205, 241, 1);
  }

    h3 ,.grid_bar_f p {
    color: hsl(0, 0%, 81%);
   }
   .grid_bar_f h2 {
    color:hsl(210, 46%, 95%);
   }
   
   .grid_bar_t p, .grid_bar_t h4 {
    color:hsl(219, 29%, 14%);
   }
   .grid_bar_t h2{
  
   }
   .rotate_item {
    position: absolute;
    font-size: 410px;
    font-family: BIZ UDGothic, sans-serif;
    rotate:180deg;
    top:-165px;
    left:620px;
    opacity: .5;
   }

   
 .wrapper {
  margin: 0 0;
  position: relative;
  margin:20px 30px;
 }
 .wrapper h2 {
  position: absolute;
  margin: 10px 0px 0px 65px;
 }
 .wrapper h3 {
  position: absolute;
  margin:30px 0px 0px 65px;
 
 }
 h2 {
  font-size: 15px;
  
  
 }
 h3 {
  font-size: 13px;
 }
 h4 {
 margin:100px 0px 0px 35px;
 font-size: 23px;
 }
 p {
  margin:10px 0px 0px 15px;
  font-size: 15px;
 }
   /* Footer */
   .attribution {
    margin:-320px auto;
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }